cbers4amanager/migrations/
process/migrations/
uploads/bandas/
uploads/dj_process_tasks/
uploads/nuvens/
uploads/pansharp/
uploads/recortes/
uploads/rgbs/*
__pycache__/
cbers4a_secrets.py
WORKFLOW.md
